body {
    background-color: #EEE;
}

main {
    max-width: 1024px;
    margin: 0 auto;
}

.card {
    margin-bottom: 20px;
}

.example.simple {
    background-color: lightcyan;
    border-color: lightblue;
}

.example.advanced {
    background-color: lightsalmon;
    border-color: chocolate;
}

.test-area {
    padding: 15px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.target {
    flex: 1;
}
.result {
    flex: 1;
}